goto_begining       gg
goto_begining		<C-<home>>
goto_begining		<home>

goto_page_with_page_number		q

# Goto the end of the document
goto_end            <end>
goto_end            <S-g>

## Goto left/right/bottom/top side of the page
#goto_left <unbound>
#goto_right <unbound>
#goto_top_of_page <unbound>
#goto_bottom_of_page <unbound>

# Goto left/right side of the page ignoring white margins
goto_left_smart     <C-a>
goto_right_smart     <C-e>

# Goto the top-right side of page. Usefull for two column documents
# goto_top_of_page;goto_right_smart zz

# Movement (can be prefixed with a number)
move_down           <down>
move_down           h
move_down           <C-n>
move_up             <up>
move_up             t
move_up             <C-p>
move_left           <right>
move_right          <left>

next_page           <pagedown>
previous_page       <pageup>

screen_down         <C-v>
screen_up           <A-v>

next_chapter        gc
prev_chapter        g<S-c>

pop_state           z
next_state          <C-<right>>
prev_state          <C-<left>>
prev_state          <backspace>

goto_toc            gt

zoom_in             <S-+>
zoom_out            =

rotate_clockwise           r
rotate_counterclockwise    <S-r>

fit_to_page_width   a
fit_to_page_width_smart   <S-a>

open_document_embedded       <C-S-u>
open_document_embedded_from_current_path       u
open_prev_doc       <S-u>

move_visual_mark_down		<S-h>
move_visual_mark_up             <S-t>
move_visual_mark_up		<S-up>
move_visual_mark_down           <S-down>

search              -
chapter_search      c-
next_item           n
previous_item       <S-n>

add_bookmark        b
delete_bookmark     db
goto_bookmark       gb
goto_bookmark_g     g<S-b>

add_highlight		l
goto_highlight		gl
goto_highlight_g	g<S-l>
delete_highlight	dl
goto_next_highlight  gnh
goto_prev_highlight  g<S-n>h

set_mark            m
goto_mark           `


portal                p
delete_portal         dp
goto_portal           gp
goto_portal           <tab>
edit_portal           <S-p>
edit_portal           <S-<tab>>

toggle_window_configuration   <f12>


copy                <C-c>
toggle_fullscreen   <f11>
toggle_highlight    <f1>
command             <space>
external_search		s
toggle_dark_mode    i
toggle_synctex		<f4>
toggle_mouse_drag_mode	<f6>
toggle_visual_scroll	<f7>
goto_definition     <C-]>
portal_to_definition     ]
toggle_presentation_mode	<f5>

open_link f
keyboard_select v
keyboard_smart_jump <S-f>
